# Configuración de la base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos?schema=public"

# Configuración JWT
JWT_SECRET="tu-clave-secreta-aqui"
JWT_EXPIRATION="15m"
REFRESH_TOKEN_SECRET="tu-clave-secreta-refresh-aqui"
REFRESH_TOKEN_EXPIRATION="7d"

# Puerto de la aplicación
PORT=3000
